<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :droplat %><br>
    <%= f.text_field :droplat %>
  </div>
  <div class="field">
    <%= f.label :droplng %><br>
    <%= f.text_field :droplng %>
  </div>
  <div class="field">
    <%= f.label :time_taken %><br>
    <%= f.datetime_select :time_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
